<div align="center">
<h2>Zaloguj się</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h4 style="margin-bottom: 0.02%; margin-top: 30px;">E-Mail</h4><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <h4 style="margin-bottom: 0.02%; margin-top: 30px;">Hasło</h4><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" style="margin-top: 20px;">
      <%= f.check_box :remember_me %> 
      <p>Zapamiętaj mnie</p>
    </div>
  <% end -%>

  <div class="actions" style="margin-top: 10px;">
    <%= f.submit "Zaloguj się" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>