<!DOCTYPE html>
<html>
<head>
  <title>Railster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<div class="container">
  <snap class="notice"><%= notice %></snap>
  <snap class="alert"><%= alert %></snap>
<%= yield %>
</div>
</body>
</html>
